@import "tailwindcss";

:root {
  --background: #1e1e2e;
  --foreground: #a6adc8;
  --heading: #e2e8f0;
  --accent: #54d8b9;
  --surface: #313244;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-heading: var(--heading);
  --color-accent: var(--accent);
  --color-surface: var(--surface);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
}

@layer base {
  html,
  body {
    background: var(--background);
    color: var(--foreground); /* default text color */
    font-family: var(--font-sans);
  }
}
